body.dark {
  background-color: $dark-background-color;
  text-shadow: $dark-text-shadow;
  color: $dark-light-font-color;

  @media (min-width: 100px) {
    font-size: 16px;
  }

  @media (min-width: 550px) {
    font-size: 15.5px;
  }

  @media (min-width: 992px) {
    font-size: 16px;
  }

  // home
  .home-header {
    color: $dark-light-font-color;
  }

  .bio {
    .author-name-content {
      background-color: $dark-category-border-color;
    }
    .author-introduction {
      color: $dark-middle-font-color;
    }
    a {
      color: $dark-link-color;
    }
  }

  :not(pre) > code[class*='language-'] {
    text-align: center;
    border-radius: 0.3em;
    white-space: normal;
    background-color: #282c35;
    margin-bottom: 10px;
  }

  .category-container {
    border-top: 1px solid $dark-category-border-color;
    border-bottom: 1px solid $dark-category-border-color;
    border-right: 6px solid $dark-category-border-color;
    border-left: 6px solid $dark-category-border-color;
    background-color: $dark-category-background-color;
    .item {
      border: 1px solid $dark-category-border-color;
      background-color: $dark-category-item-color;
      -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      a {
        color: $dark-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $dark-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $dark-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      font-family: 'nexon-lv1-gothic';
      font-weight: 800;
      color: $dark-light-font-color;
    }
    p {
      font-family: 'nexon-lv1-gothic';
      color: $dark-middle-font-color;
      font-weight: 400;
    }
    &:hover {
      text-shadow: $dark-hover-text-shadow;
    }
  }

  .footer {
    color: $dark-middle-font-color;
    a {
      color: $dark-lightest-font-color;
    }
  }

  // post
  blockquote {
    border-left: 4px solid rgba(255, 255, 255, 0.822);
  }

  h1,
  h2 {
    border-bottom-color: rgba(255, 255, 255, 0.3);
  }

  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
  td {
    border-bottom: 1px solid #eee;
  }
  strong {
    color: white;
  }
}
.hilight-container > .strong-container {
  color: #4e5968;
}
.hilight-container {
  color: #4e5968;
}
