body.light {
  background-color: $light-background-color;
  text-shadow: $light-text-shadow;
  color: #4e5968;

  @media (max-width: 600px) {
    font-size: 10px;
  }

  @media only screen and (min-width: 580px) and (max-width: 700px) {
    font-size: 14px;
  }

  // home
  .home-header {
    color: $dark-gray;
  }

  .bio {
    .author-name-content {
      background-color: $light-category-border-color;
    }
    .author-introduction {
      color: $middle-gray;
    }
    a {
      color: $light-link-color;
    }
  }

  .category-container {
    border-top: 1px solid $light-category-border-color;
    border-bottom: 1px solid $light-category-border-color;
    border-right: 6px solid $light-category-border-color;
    border-left: 6px solid $light-category-border-color;
    background-color: $light-category-background-color;
    .item {
      border: 1px solid $light-category-border-color;
      background-color: $light-category-item-color;
      -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
        rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
        rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
      a {
        color: $light-category-text-color;
      }
      &[aria-selected='true'] {
        border: 2px solid $light-category-highlight-border-color;
        font-weight: bolder;
      }
      &[aria-selected='true'] a {
        color: $light-category-highlight-text-color;
      }
    }
  }

  .thumbnail {
    h3 {
      font-family: 'nexon-lv1-gothic';
      font-weight: 800;
      color: $dark-gray;
    }
    p {
      font-family: 'nexon-lv1-gothic';
      font-size: 14.5px;
      font-weight: 400;
      color: $middle-gray;
    }
    &:hover {
      text-shadow: $light-hover-text-shadow;
    }
  }

  .footer {
    color: $light-gray;
    a {
      color: $dark-gray;
    }
  }

  // post
  .navigator {
    a {
      background-color: $navigator-background-color;
      color: $navigator-text-color;
    }
  }
}
