.home-header {
  margin-top: 0;
  border-bottom: none;
  font-weight: 900;
  font-size: 48px;
  font-family: 'ridi-batang';
  letter-spacing: -2px;
}

.link {
  box-shadow: none;
  font-family: 'ridi-batang';
  text-decoration: none;
  color: inherit;
}
